@use 'init';

#ske.doc {
  *::before,
  *,
  *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
  }

  html, body {
    width: 100%;
    height: 100%;
    background-color:
    background-color: #780078;
    font-family: init.$sys-font;
  }

  .layout {
    display: grid;
  }

  .box, .list {
    display: flex;
  }

  .block {
    display: block;
  }

  .table {
    display: table;
  }

  .inline {
    display: inline;
  }

  .inline.layout {
    display: inline-grid;
  }

  .inline.box {
    display: inline-flex;
  }

  .inline.block, .list .item {
    display: inline-block;
  }

  .inline.table {
    display: inline-table;
  }

  .block.centered {
    margin: auto;
  }

  .content.centered {
    text-align: center;
  }

  .box.centered {
    justify-content: center;
    align-items: center;
  }

  .box.sa {
    justify-content: space-around;
  }

  .box.sb {
    justify-content: space-between;
  }

  .box.se {
    justify-content: space-evenly;
  }

  .v.box {
    flex-direction: column;
  }

  .vr.box {
    flex-direction: column-reverse;
  }

  .h.box {
    flex-direction: row;
  }

  .hr.box {
    flex-direction: row-reverse;
  }

  .w.box {
    flex-wrap: wrap;
  }

  .wr.box {
    flex-wrap: wrap-reverse;
  }

  .nw.box {
    flex-wrap: nowrap;
  }

  .fvr.box {
    flex-flow: column-reverse wrap-reverse;
  }

  .vwr.box {
    flex-flow: column wrap-reverse;
  }

  .fhr.box {
    flex-flow: row-reverse wrap-reverse;
  }

  .hwr.box {
    flex-flow: row wrap-reverse;
  }

  .subtitle {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 22px auto;
    line-height: 1.4;
  }

  .link {
    text-decoration: none;
  }

  .link:hover,
  .link:focus,
  .link:active {
    text-decoration: underline;
  }

  .button {
    margin: 8px;
    padding: 12px 16px;
    font-size: 1rem;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  &.no-js .view #MainWrapper {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &.js.doc .view #MainWrapper {
    width: 100%;
    height: 100%;
  }
}
