@import 'init';

#ske.doc {
  .main {
    width: 100%;
  }

  .main-header {
    background-color: #fff;
    color: #000;
    padding: 12px 16px;
  }

  .main-header .logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    content: url("logo.svg");
    height: 30px;
  }

  .main-view {
    min-height: 100vmin;
    background-color: #780078;
    background-image: linear-gradient(#ff0078, #7800ff);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main .form {
    width: calc(100% - 20px);
    margin: 48px auto;
    max-width: clamp(300px, 60rem, 100vw);
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #CDCD9A;
    box-shadow: -2px -2px 8px #9A9A78,
                4px 4px 16px #9A9A78;
    overflow: auto;
    word-wrap: break-word;
  }

  .main-footer {
    background-color: #000;
    color: #fff;
    padding: 12px 8px 0;
    border-top: 1px solid #787878;
    min-height: calc(100vh - 100vmin);
  }

  .copyright {
    padding: 10px 0;
    font-size: 0.725rem;
    border-top: 1px solid #787878;
  }

  .button.light {
    background-color: #00bebe;
    color: #fff;
    border-color: #007f7f;
  }

  .button.dark {
    border-color: #beffff;
    background-color: #006060;
    color: #beffff;
  }

  .button.light:hover {
    background-color: #007f7f;
  }

  .button.dark:hover {
    background-color: #004040;
    color: #fff;
  }

  .button.light:active {
    background-color: #007878;
  }

  .button.dark:active {
    background-color: #005050;
    color: #fff;
  }

  .button.light:focus {
    background-color: #005050;
  }

  .button.dark:focus {
    background-color: #002020;
    color: #fff;
  }

  .link {
    color: #0078ff;
  }

  .link:hover {
    color: #0012ff;
  }

  .link:active {
    color: #0034ff;
  }

  .link:focus {
    color: #001278;
  }
}
