$sys-font : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;

#ske.doc {
  *::before,
  *,
  *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
  }

  html, body {
    width: 100%;
    height: 100%;
    font-family: $sys-font;
  }

  .layout {
    display: grid;
  }

  .box {
    display: flex;
  }

  .block {
    display: block;
  }

  .table {
    display: table;
  }

  .inline {
    display: inline;
  }

  .inline.layout {
    display: inline-grid;
  }

  .inline.box {
    display: inline-flex;
  }

  .inline.block {
    display: inline-block;
  }

  .inline.table {
    display: inline-table;
  }

  .block.centered {
    margin: auto;
  }

  .text.centered {
    text-align: center;
  }

  .box.centered {
    justify-content: center;
    align-items: center;
  }
}

#ske.no-js.doc .view #MainWrapper {
  display: none;
  visibility: hidden;
  opacity: 0;
}

#ske.js.doc .view #MainWrapper {
  background-color: #787800;
  background-image: linear-gradient(#ff7800 0%, #00ff78 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 100vmin;
  max-width: 100vmax;
  height: 100%;
  min-height: 100vmin;
  max-height: 100vmax;
}
