$long-font : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
$small-font : Helvetica, Arial, sans-serif;

#ske.doc {
  *::before,
  *,
  *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
  }

  html, body {
    width: 100%;
    height: 100%;
    font-family: $long-font;
  }

  .text {
    font: 1rem $small-font;
  }

  .layout {
    display: grid;
  }

  .box {
    display: flex;
  }

  .block {
    display: block;
  }

  .table {
    display: table;
  }

  .inline {
    display: inline;
  }

  .inline.layout {
    display: inline-grid;
  }

  .inline.box {
    display: inline-flex;
  }

  .inline.block {
    display: inline-block;
  }

  .inline.table {
    display: inline-table;
  }

  .block.centered {
    margin: auto;
  }

  .text.centered {
    text-align: center;
  }

  .box.centered {
    justify-content: center;
    align-items: center;
  }
}
