.main {
  &-header {
    background-color: #fff;
    color: #000;
    padding: 12px 16px;
  }

  &-header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    content: url("logo.svg");
    height: 30px;
  }
}
